{% extends "base.html" %}

{% block title %} Login {% endblock%}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
<form action = "#" method = "post">
    <label> Username: </label>
    <input type = "text" name = "nm" > </input>
    <input type = "password" value = "submit"> </input>
    <input type = "submit" name = "pw"> </input>

</form>
{% endblock %}